# .github/workflows/deploy.yml
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
    secrets:
      TOKEN:
        required: true
      JSON:
        required: false

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: |
          echo "inputs.env: ${{ inputs.env }}"
          echo "secrets.TOKEN: ${{ secrets.TOKEN }}"
          echo "secrets.JSON: ${{ secrets.JSON }}"
          echo "ORG_SECRET: ${{ secrets.ORG_SECRET }}"
          echo "REPO_SECRET: ${{ secrets.REPO_SECRET }}"
          JSON = '${{ secrets.JSON }}'
          JSON_PARSE = $(echo "$JSON" | jq '. | length')
          echo "JSON_PARSE: $JSON_PARSE"
      - name: call composite
        uses: testorger/public_reusable_workflows/.github/actions/sample-composite@main
        with:
          parameter1: 'from reusable workflow'
